<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  	<insert id="saveChat" parameterType="Chat">
  		INSERT INTO chat(
  			user_name,
  			chat_contents,
  			chat_datetime,
  			sended)
  		VALUES(
  		#{userName),
  		#{chatContents},
  		#{chatDateTime},
  		#{sended})
  		
  	</insert>